@import "tailwindcss";


html, body {
    height: 100%; 
    margin: 0;
}

#app {
    display: flex; 
    flex-direction: column; 
    min-height: 100%; 
}

.p-button-success,
.p-checkbox-checked .p-checkbox-box {
    background-color: #178740 !important;
}

.p-button-success:hover {
    background-color:#146c34 !important;
}
